
body{
    background-color: #121133;
    font-family: 'Montserrat';
    text-align: center;
    margin: 10px;
}
h1, h2 {color: #eee0e0}
h1 {
    font-family: 'Montserrat Black';
    font-size: 58px;
}

#winner {margin-top: 3%;}

.padding7-15 {padding: 5% 15%;}
.padding15 {padding: 15%;}
.row.padding7-15 {padding-top: 4%;}
.pad-dot {padding: 6%}

@media (max-width: 750px){
    .row.padding7-15 {padding-top: 10%;}
    #winner {margin-top: 5%}
}

.box {
    background-color: brown;
    width:120px;
    height: 120px;
    display: inline-block;
    margin-top: 10%;
    border-radius: 20%;
}
.box2 {
    background-color: #c4a3c2;
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 100%;
}
.clickButton {background-color: #460d7c;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 40px;
    margin-top: 20px;
}


.position1 {position: relative;}
.position2 {position: relative;}
.a0new {
    position: absolute;
    top: 30px;
    left: 45px;
}
.a2new {
    position: absolute;
    top: 60px;
}

